body {
  background-color: #51e2f5;
}

h1{
  color: #3120E0;
}

h3{
  color: #3120E0;
}

hr{
  background-color: white;
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 100%;
}
